doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CRUD Pedidos
    link(rel="stylesheet", href="/styles.css")

  body
    header
      h1 Sistema CRUD Pedidos
      nav
        a(href="/pedidos/vista") Inicio
        |  |
        a(href="/pedidos/nuevo") Nuevo Pedido

    hr

    block content

    hr

    footer
      p Proyecto Node.js con JSON