extends ../layout

block content
  h2 Detalle persona

  p
    strong ID:
    | #{persona.id}

  p
    strong Nombre:
    | #{persona.nombre}

  p
    strong Edad:
    | #{persona.edad}

  a(href="/personas") Volver