doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TodoStock S.A
    link(rel="stylesheet", href="/styles.css")

  body
    header
      a(href="/" style="text-decoration:none; color:inherit;")
        h1 TodoStock S.A.
      nav
        a(href="/") Módulos
        a(href="/clientes/vista") Clientes

    main.content-container
      block content

    footer
      p TodoStock S.A. © 2026 - Proyecto Node.js con JSON