doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CRUD Clientes
    link(rel="stylesheet", href="/styles.css")

  body
    header
      h1 Sistema CRUD Clientes
      nav
        a(href="/clientes/vista") Inicio
        |  |
        a(href="/clientes/nuevoCliente") Nuevo cliente

    hr

    block content

    hr

    footer
      p Proyecto Node.js con JSON